<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
      <title>Emissio: 404 Error</title>
      <link rel="icon" href="Logos/faviconnew.ico?v=1.1">
      <link rel="stylesheet" href="style.css">
    </head>
  <body onselectstart="return false">
    <div onselectstart="return false" class="nav">
      <div class="nav-cont">
           <div class="logo">
               <a href="/"><img src="Logos/newLogo1.png"></a>
           </div>
      </div>
  </div>
  <div onselectstart="return false"  class="login-cont2">
        <div><a href="/"><img src="Images/500.png"></a></div>
        <div class="Logincontent" id=logcon>
            <div class="msg-01">500 - Server Error</div>
            <div class="msg-02">Something went wrong. Try to refresh this page or feel free to contact us if the problem persist.</div>
            <form action="/" method="get">
                <button class="login-bt" type="submit">
                    <div class="aligned">
                      <br>
                      <br>
                        <span>Home</span>
                    </div> 
                </button>
            </form>
       </div>
  </body>
</html>
