<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta charset="UTF-8">
      <title>Emissio: Coming Soon</title>
      <link rel="icon" href="Logos/faviconnew.ico">
      <link rel="stylesheet" href="style.css">
    </head>
    <body onselectstart="return false">

    <div onselectstart="return false"  class="login-cont2">
        <div><a href="/"><img src="Logos/faviconnew.ico"></a></div>
        <div class="Logincontent" id=logcon>
            <div class="msg-01">This Feature is Coming Soon ⌛</div>
            <div class="msg-02">Join the waiting list to know when we'll arrive.</div>
            <form action="/" method="get">
                <button class="login-bt" type="submit">
                    <div class="aligned">
                        <span>Home</span>
                        <img src="Images/login-arrow.ico">
                    </div> 
                </button>
            </form>
       </div>

    <script>
        const targetDiv = document.getElementById("login-page");
         const btn = document.getElementById("open-login");
         const Logincontent = document.getElementById("logcon");
         btn.onclick = function () {
             targetDiv.style.display = "block";
             Logincontent.style.display ="block";
         };
 
         const btn2 = document.getElementById("close");
         btn2.onclick = function () {
             targetDiv.style.display = "none";
             SignupContent.style.display="none";
         };
    </script>
       
    </body>
    
</html>
