* {
    box-sizing: border-box;
  }
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img {
  pointer-events: none;
  user-select: none;
}
video{
  pointer-events: none;
  user-select: none;
}
body{
  margin: 0;
  color: #eee;
  font-family: "-apple-system",BlinkMacSystemFont,"-webkit-system-font","Malgun Gothic","Segoe UI","Helvetica Neue",Helvetica,sans-serif;
  font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  -moz-osx-font-smoothing: grayscale;
  height: initial;
  max-height: initial;
  background-color: #333;
}

.nav{
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0;
  z-index: 50;
}
.nav-cont{
  width:95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo{
  float: left;
}
span {
  padding: 10px;
}

.nav .userlogin{
  margin-left: auto;
  order: 2;
  color: white;
  border: 1px white solid;
  font-size: small;
  line-height: 5px;
  padding: 2px;
  border-radius: 10px;
  cursor:pointer;
}
.logo img{
  display: block;
  width:110px;
}
.userlogin img{
  width:18px;
  background-color: white;
  border-radius: 15px;
}
.aligned {
  display: flex;
  align-items: center;
}
.login-cont{
  overflow: scroll;
  background-color: #282828;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 40;
    position: absolute;
    top:10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:50%;
    height: 80%;
    padding: 25px;
    font-size: 20px;
    line-height: 35px;
    font-family: "gilroy-bold";
    text-align: center;
    border-radius: 15px;
    display:none;
}

.login-cont2{
  background-color: #282828;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 40;
    position: absolute;
    top:25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:fit-content;
    height: fit-content;
    padding: 25px;
    font-size: 20px;
    line-height: 35px;
    font-family: "gilroy-bold";
    text-align: center;
    border-radius: 15px;
    display: block;
}
.login-cont2 img{
  display:block;
  margin: 0 auto;
  width:75px;
  padding:5px;
}

.login-cont img{
  display:block;
  margin: 0 auto;
  width:75px;
  padding:5px;
}


.banner{
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.banner img{
  display: block;
  width: 100%;
  opacity: 0.87;
  height: 100%;
}

.sub-banner{
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 3%;
  text-align: center;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}

.centered {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
}
.sub-centered{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 25px;
  line-height: 40px;
  padding-bottom: 10px;
}

.sub-banner-2{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 2%;
  text-align:left;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}
.sub-banner-2 img{
  display: block;
  float: right;
  opacity: 0.87;
  margin-right: 20%;
}

.centered-2 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
  text-align:justify;
}

.sub-centered-2{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: -1px;
  margin: 0;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 10%;
  width:40%;
}

.sub-banner-3{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 2%;
  text-align:left;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  margin-bottom: 10px;
}
.sub-banner-3 img{
  display: block;
  float: left;
  opacity: 0.87;
  margin-left: 10%;
}

.centered-3 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translateY(-50%);
}
.sub-centered-3{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: -1px;
  margin: 0;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  right: 10%;
  text-align: justify;
  width:40%;
}

.footer{
  width:100%;
  background-color: black;
  color:#eee;
  overflow: hidden;
  padding: 2px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height:20px;
  letter-spacing: 1px;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
}
.footer-cont{
  padding: 10px;
  width:95%;
  margin: 0 auto;
}
.foo-left{
  display: block;
  text-align: center;
  margin: 0 auto;
}
.foo-right{
 display: block;
  text-align: center;
  margin: 0 auto;
}


.foo-sm{
  margin: auto;
  color:#212529;
  display: flex;
  justify-content: center;
  font-family:cursive;
  font-size: 20px;
  text-align: center;
}

.foo-right img{
  background-color:#ddd;
  width:30px;
  display: block;
  padding:5px;
  cursor: pointer;
  border-radius: 15px;
  margin: 5px;
}


.login-cont{
  overflow: visible;
  background-color: #282828;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 40;
    position: fixed;
    top:20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:50%;
    height: 50%;
    padding: 25px;
    font-size: 20px;
    line-height: 35px;
    font-family: "gilroy-bold";
    text-align: center;
    border-radius: 15px;
    display:none;
    padding: 5px;
}

.login-cont img{
  display:block;
  margin: 0 auto;
  width:75px;
  padding:5px;
}

.close-player{
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.close-player:hover {
  opacity: 1;
}
.close-player:before, .close-player:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 26px;
  width: 2px;
  background-color: white;
}
.close-player:before {
  transform: rotate(45deg);
}
.close-player:after {
  transform: rotate(-45deg);
}
.closediv{
  width:100%;
  background-color: aqua;
}
.close {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 26px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.email{
  padding:10px;
}
.password{
  padding:10px;
}
.formfield{
  padding:10px;
}
input[type="email"], textarea {

  background-color : black; 
  border: 0px;
  color: #ddd;
  line-height: 40px;
  font-size: medium;
  width: 60%;
 padding-left: 15px;
}

input[type="text"], textarea {

  background-color : black; 
  border: 0px;
  color: #ddd;
  line-height: 40px;
  font-size: medium;
  width: 60%;
 padding-left: 15px;
}
input[type="tel"], textarea {
  background-color : black; 
  border: 0px;
  color: #ddd;
  line-height: 40px;
  font-size: medium;
  width: 60%;
 padding-left: 15px;
}

.login-bt{
  background-color : black; 
  border: 0px;
  color: rgb(190, 182, 182);
  line-height: 20px;
  font-size: medium;
  width: fit-content;
  padding:7px;
 border-radius: 10px;
 cursor: pointer;
 margin-bottom: 5%;
}

.login-bt img{
  width:25px;
  background-color: white;
  border-radius: 50px;
}
.msg-02{
  font-size: 20px;
  padding:5px;
  color: #fff;
font-family: BlinkMacSystemFont,"-webkit-system-font","Malgun Gothic","Segoe UI","Helvetica Neue",Helvetica,sans-serif;
line-height: 40px;
}
.msg-01{
  font-size: 25px;
  padding:5px;
  color: #fff;
font-family: BlinkMacSystemFont,"-webkit-system-font","Malgun Gothic","Segoe UI","Helvetica Neue",Helvetica,sans-serif;
line-height: 40px;
}

.login-msg-01 a{
  line-height: 20px;
  text-decoration: none;
  color:rgb(122, 185, 243)
}
.mob-sub-banner-2{
  display: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.mob-sub-banner-3{
  display: none;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.login-msg-02 a{
  line-height: 20px;
  text-decoration: none;
  color:rgb(122, 185, 243)
}

.login-msg-01 a:hover{
  text-decoration: underline;
  color:rgb(122, 185, 243);
}

.login-msg-02 a:hover{
  text-decoration: underline;
  color:rgb(122, 185, 243)
}
.Download{
  color: white;
  border: 1px white solid;
  font-size:medium;
  line-height: 30px;
  padding: 2px;
  border-radius: 10px;
  cursor:pointer;
  width:fit-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
.Download a{
  text-decoration: none;
  color: #eee;
}
.Download :hover{
  color: #ED6A32;
}
.Download img{
  width:25px;
  padding: 2px;
  background-color: white;
  vertical-align:middle;
  border-radius: 15px;
}

/* Responsive  for all mobile devices*/
@media only screen and (max-width: 600px) {
  
  .login-cont{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 10px;
    line-height: 35px;
    font-family: "gilroy-bold";
    text-align: center;
    border-radius: 15px;
    margin: 25px;
    top:15%;
  }
  .login-cont img{
    width:70px;
    padding:5px;
  }
  .login-cont input{
    width: 90%;
    padding: 5px;
  }
  .login-bt{
    width: fit-content;
    padding:7px;
  }
  .login-bt img{
    width:25px;
  }
  .msg-01{
    font-size: 20px;
    padding:5px;
    color: #eee;

  }
  .msg-02{
    font-size: 18px;
    padding:5px;
    color: #eee;
  }
.join{
  display:none;
}
.banner{
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  color: #eee;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner img{
 width: 100%;
}
.centered{
  text-align: center;
  font-size: 30px;
  color: #eee;
}
.sub-centered{
  text-align: center;
  font-size: 22px;
  color: #eee;
}
.sub-banner-2{
display: none;
}
.sub-banner-3{
  display:none;
}
.mob-sub-banner-2{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 5%;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}
.mob-sub-banner-2 img{
  width:140px;
  display: block;
 margin: 0 auto;
}
.mob-centered-2{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: fit-content;
}
.mob-sub-centered-2{
  font-size: 20px;
  text-align: center;
  margin: 30px;
}
.mob-sub-banner-3{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 3%;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  margin-bottom: 10px;
}
.mob-sub-banner-3 img{
  width:240px;
  display: block;
 margin: 0 auto;
}
.mob-centered-3{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: fit-content;
}
.mob-sub-centered-3{
  font-size: 20px;
  text-align: center;
  margin: 30px;
}
.Download{
  font-size: 15px;
}

}
/* Responsive for all tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1400px) {
  .login-cont{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 10px;
    line-height: 35px;
    font-family: "gilroy-bold";
    text-align: center;
    border-radius: 15px;
    margin: 25px;
    top:15%;
    margin: auto;
  }
  .login-cont img{
    width:70px;
    padding:5px;
  }
  .login-cont input{
    width: 90%;
    padding: 5px;
  }
  .login-bt{
    width: fit-content;
    padding:7px;
  }
  .login-bt img{
    width:25px;
  }
  .msg-01{
    font-size: 30px;
    padding:5px;
    color: #eee;

  }
  .msg-02{
    font-size: 28px;
    padding:5px;
    color: #eee;
  }
.join{
  display:none;
}
.banner{
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  color: #eee;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner img{
 width: 100%;
}
.centered{
  text-align: center;
  font-size: 40px;
  color: #eee;
}
.sub-centered{
  text-align: center;
  font-size: 32px;
  color: #eee;
}
.sub-banner-2{
display: none;
}
.sub-banner-3{
  display:none;
}
.mob-sub-banner-2{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 5%;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}
.mob-sub-banner-2 img{
  width:240px;
  display: block;
 margin: 0 auto;
}
.mob-centered-2{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: fit-content;
}
.mob-sub-centered-2{
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
.mob-sub-banner-3{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 3%;
  color: #eee;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  margin-bottom: 10px;
}
.mob-sub-banner-3 img{
  width:340px;
  display: block;
 margin: 0 auto;
}
.mob-centered-3{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: fit-content;
}
.mob-sub-centered-3{
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
.Download{
  font-size: 25px;
}

  }